.DS_Store
*.zip
*.bak
*.backup
*.backuplua*
mainbackup.lua
test-*.lua
grimmory_sync_settings.txt
grimmory_sync_history.lua
grimmory_sync_manifest.lua
booklore_sync_settings.txt
booklore_sync_history.lua
